<div style="min-height: 100%; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div style="text-align:center">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Covid19 PH Tracker</h1>
            <BR><BR>
            <p class="lead">
                <b>Public Repositories</b>
            </p>
            <p class="lead">
                <a target="_blank" href="https://github.com/jayfrostjay/Covid19-PH-Tracker-Server">Covid19-PH-Tracker-Server</a>
                - Server that feeds the data to the App
            </p>
            <p class="lead">
                <a target="_blank" href="https://github.com/jayfrostjay/Covid19-PH-Tracker">Covid19-PH-Tracker-Android</a>
                - Android App developed using Dart Programming Language
            </p>
            <BR>
            <p class="lead">
                <b>Data Sources</b>
            </p>
            <p class="lead">
                <a target="_blank" href="https://rapidapi.com/astsiatsko/api/coronavirus-monitor">Coronavirus Monitor</a>
            </p>
            <p class="lead">
                <a target="_blank" href="https://coronavirus-ph-api.herokuapp.com/">Coronavirus-PH (API)</a>
            </p>
            <BR><BR>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
            <p class="lead">
                Developed by 
                <a target="_blank" href="https://github.com/jayfrostjay/">Jayson Garcia</a>
            </p>
            </div>
        </footer>
    </div>
</div>